<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Genre add</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css"
	th:href="@{css/bootstrap.min.css}" />
</head>
<body>
	<h1>Add Genre</h1>
	<div>
		<form th:object="${genre}" th:action="@{savegenre}" action="#" method="post">
			<label for="genrename">Genres</label> <input type="text" id="genrename" th:field="*{name}" />
			<div style="clear: both; display: block; height: 20px;"></div>
			
			<input type="submit" value="Save" class="btn btn-success"></input>
		</form>
		<a href="/genrelist" class="btn btn-secondary">Return</a>
	</div>
</body>
</html>